HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

#### Mac ###
.DS_Store

#### Windows ###
Thumbs.db
Desktop.ini

#### Gradle ###
.gradle/

#### Others ###
*.bak
*.old
*.tmp
*.swp
*.log
*.cache
*copy*.*
src/main/java/com/taskflow/taskflowapi/*copy*.*
src/main/java/com/taskflow/taskflowapi/*.old
src/main/java/com/taskflow/taskflowapi/controller/*copy*.*
src/main/java/com/taskflow/taskflowapi/controller/*.old
src/main/java/com/taskflow/taskflowapi/entity/*copy*.*
src/main/java/com/taskflow/taskflowapi/entity/*.old
src/main/java/com/taskflow/taskflowapi/repository/*copy*.*
src/main/java/com/taskflow/taskflowapi/repository/*.old
src/main/java/com/taskflow/taskflowapi/service/*copy*.*
src/main/java/com/taskflow/taskflowapi/service/*.old
src/main/resources/*copy*.*
src/main/resources/*.old